In [1]:
# imports
import pandas as pd
import numpy as np
import time

In [3]:
from multiprocessing import Pool

In [2]:
#from joblib import Parallel
from dask import compute, delayed
from dask.distributed import Client, LocalCluster 
cl = LocalCluster(n_workers=4)
client = Client(cl)
cl
# close

# note: if this throws an error, close jupyter, run "ulimit -n 4096" in terminal, then restart jupyter

VBox(children=(HTML(value='<h2>LocalCluster</h2>'), HBox(children=(HTML(value='\n<div>\n  <style scoped>\n    â€¦

In [3]:
# define data location
#location = '/Users/mithras/Documents/_SCHOOL/_Drexel/BUSN 710 - Capstone/Data/Forecasting Project/'
location = '/Users/loki/Documents/Data/Forecasting Project/'

In [77]:
# read pickle

# what data granularity
granularity = "daily"

if granularity == "daily":
    readdata = pd.read_pickle(location+'peco_daily.pkl.zip')
    ids = pd.read_pickle(location+'peco_daily_ids.pkl.zip')
elif granularity == "hourly":
    readdata = pd.read_pickle(location+'peco_hourly.pkl.zip')
    ids = pd.read_pickle(location+'peco_hourly_ids.pkl.zip')
else:
    print("Granularity selected was not 'daily' or 'hourly'")

In [81]:
readdata.head()

,DACCOUNTID,DMETERNO,Dt,Use,AvgTemp,HighDB,LowDB,AvgHumid,AvgWind,AvgDaytimeCloud,AvgCloud,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Holiday
0,80949142571848,610057844548,2017-10-01,0.0,59.583333,69,49,60.583333,6.791667,30.0,20.000000,0,0,0,1,0,0,0,0
1,80949142571848,610057844548,2017-10-02,0.0,62.583333,74,53,56.833333,3.166667,2.5,10.000000,0,1,0,0,0,0,0,0
2,80949142571848,610057844548,2017-10-03,0.0,62.791667,74,53,67.791667,4.666667,30.0,21.250000,0,0,0,0,0,1,0,0
3,80949142571848,610057844548,2017-10-04,0.0,65.166667,76,55,70.791667,6.958333,20.0,17.500000,0,0,0,0,0,0,1,0
4,80949142571848,610057844548,2017-10-05,0.0,70.958333,81,62,68.500000,10.541667,72.5,66.666667,0,0,0,0,1,0,0,0

## Cluster ##

In [131]:
# order of operations matters in terms of initial data structure
# cluster --> regression, or regression --> cluster?
clusterFirst = True

if clusterFirst:
    # restructure data: drop weather info; transition use into wide format
    if granularity == "daily":
        data = readdata.loc[:, readdata.columns.isin(['DACCOUNTID','DMETERNO','Dt','Use'])]
        data = data.pivot_table(values='Use', index=['DACCOUNTID','DMETERNO'], columns='Dt').reset_index()
    elif granularity == "hourly":
        data = readdata.loc[:, readdata.columns.isin(['DACCOUNTID','DMETERNO','Dt','Hour','Use'])]
        data = data.pivot_table(values='Use', index=['DACCOUNTID','DMETERNO'], columns=['Dt','Hour']).reset_index()
    
preserve_order = data.loc[:, data.columns.isin(['DACCOUNTID','DMETERNO'])]

In [135]:
data.head()

Dt,DACCOUNTID,DMETERNO,2017-10-01 00:00:00,2017-10-02 00:00:00,2017-10-03 00:00:00,2017-10-04 00:00:00,2017-10-05 00:00:00,2017-10-06 00:00:00,2017-10-07 00:00:00,2017-10-08 00:00:00,...,2018-09-21 00:00:00,2018-09-22 00:00:00,2018-09-23 00:00:00,2018-09-24 00:00:00,2018-09-25 00:00:00,2018-09-26 00:00:00,2018-09-27 00:00:00,2018-09-28 00:00:00,2018-09-29 00:00:00,2018-09-30 00:00:00
0,665128346596,4464578359312,1.14,0.00,0.00,0.00,1.14,0.00,0.0,0.00,...,1.14,0.00,0.00,1.14,0.00,1.14,0.00,1.14,0.00,0.00
1,819252079392,609154378812,0.00,0.00,0.00,0.00,1.14,0.00,0.0,0.00,...,1.14,0.00,0.00,1.14,0.00,0.00,0.00,0.00,0.00,0.00
2,819288717920,4465122076620,NaN,NaN,0.00,0.00,0.00,1.14,0.0,1.14,...,0.00,1.14,0.00,0.00,1.14,0.00,1.14,0.00,0.00,1.14
3,819880484484,4465122193056,0.00,1.14,0.00,1.14,0.00,0.00,0.0,1.14,...,0.00,0.00,0.00,1.14,0.00,0.00,0.00,1.14,0.00,0.00
4,1284453836940,4464330738752,0.00,0.00,1.14,0.00,1.14,1.14,0.0,1.14,...,0.00,1.14,1.14,0.00,0.00,1.14,1.14,1.14,1.14,0.00

In [136]:
# normalize
from sklearn import preprocessing 

data_scaled = data.drop(columns=['DACCOUNTID','DMETERNO'])
data_scaled = preprocessing.scale(data)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by the scale function.
  """
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/preprocessing/data.py:176: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "

In [137]:
# determine k using elbow method

from sklearn.cluster import KMeans
from sklearn import metrics
from scipy.spatial.distance import cdist
import matplotlib.pyplot as plt

K = range(1,12)
SSE = []
for k in K:
    kmeanModel = KMeans(n_clusters=k).fit(data_scaled)
    kmeanModel.fit(data_scaled)
    SSE.append(sum(np.min(cdist(data_scaled, kmeanModel.cluster_centers_, 'euclidean'), axis=1)) / X.shape[0])

# scree plot - find the elbow
plt.plot(K, SSE, 'bx-')
plt.xlabel('Number of K')
plt.ylabel('SSE')
plt.title('The Elbow Method Showing the Optimal K (Euclidean)')
plt.show()

# super awesome visualization and screen plot kernels I came across while doing the NYC taxi fare forcasting project:
# https://www.kaggle.com/ashishpatel26/exploration-of-nyc
# https://www.kaggle.com/willkoehrsen/a-walkthrough-and-a-challenge

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
# def: PCA
    # normalize or not?

pca_2cw = PCA(n_components=2, whiten=True)
X_pca_1cw = pca_2cw.fit_transform(iris.data)
plt.scatter(X_pca_1cw[:,0], X_pca_1cw[:,1], c=iris.target,
alpha=0.8, s=60, marker='o', edgecolors='white')
plt.show()
pca_2cw.explained_variance_ratio_.sum()

In [ ]:
# visualize cluster identities using PCA on weight vector

In [ ]:
# visualize rate-code identities using PCA on weight vector

In [ ]:
# append cluster ID to daily/hourly set

In [5]:
# close dask cluster
cl.close