# Forecasting Data #

In [64]:
# imports
import pandas as pd
import numpy as np
import time
from timeit import default_timer as timer
import gc

In [65]:
# define data location
#location = '/Users/mithras/Documents/_SCHOOL/_Drexel/BUSN 710 - Capstone/Data/Forecasting Project/'
location = '/Users/loki/Documents/Data/Forecasting Project/'

## Data Cleaning & Checking

In [6]:
# # hourly data
# start = timer()

# use_oct_in = pd.read_excel(location+'PECO Zip HourlyUsage_2017.10.xlsx')
# use_nov_in = pd.read_excel(location+'PECO Zip HourlyUsage_2017.11.xlsx') 
# use_dec_in = pd.read_excel(location+'PECO Zip HourlyUsage_2017.12.xlsx') 
# use_jan_in = pd.read_excel(location+'Zip_HourlylUsage_2018.01.xlsx')
# use_feb_in = pd.read_excel(location+'PECO Zip HourlyUsage_2018.02.xlsx')
# use_mar_in = pd.read_excel(location+'PECO Zip HourlyUsage_2018.03.xlsx')
# use_apr_in = pd.read_excel(location+'PECO Zip HourlyUsage_2018.04.xlsx')
# use_may_in = pd.read_excel(location+'PECO Zip HourlyUsage_2018.05.xlsx')
# use_jun_in = pd.read_excel(location+'PECO Zip HourlyUsage_2018.06.xlsx')
# use_jul_in = pd.read_excel(location+'Zip_HourlylUsage_2018.07.xlsx')
# use_aug_in = pd.read_excel(location+'PECO Zip HourlyUsage_2018.08.xlsx')
# use_sep_in = pd.read_excel(location+'PECO Zip HourlyUsage_2018.09.xlsx')

# use_oct_in2 = pd.read_excel(location+'PECO Zip HourlyUsage_2016.10.xlsx')
# use_nov_in2 = pd.read_excel(location+'PECO Zip HourlyUsage_2016.11.xlsx') 
# use_dec_in2 = pd.read_excel(location+'PECO Zip HourlyUsage_2016.12.xlsx') 
# use_jan_in2 = pd.read_excel(location+'PECO Zip HourlyUsage_2017.01.xlsx')
# use_feb_in2 = pd.read_excel(location+'PECO Zip HourlyUsage_2017.02.xlsx')
# use_mar_in2 = pd.read_excel(location+'PECO Zip HourlyUsage_2017.03.xlsx')
# use_apr_in2 = pd.read_excel(location+'PECO Zip HourlyUsage_2017.04.xlsx')
# use_may_in2 = pd.read_excel(location+'PECO Zip HourlyUsage_2017.05.xlsx')
# use_jun_in2 = pd.read_excel(location+'PECO Zip HourlyUsage_2017.06.xlsx')
# use_jul_in2 = pd.read_excel(location+'PECO Zip HourlyUsage_2017.07.xlsx')
# use_aug_in2 = pd.read_excel(location+'PECO Zip HourlyUsage_2017.08.xlsx')
# use_sep_in2 = pd.read_excel(location+'PECO Zip HourlyUsage_2017.09.xlsx')

# end = timer()
# print((end - start)/60) # Time in minutes (~25 min)

25.6850781347

In [ ]:
# # merge use data
# hourly_in = [use_oct_in, use_nov_in, use_dec_in, use_jan_in, use_feb_in, use_mar_in, 
#              use_apr_in, use_may_in, use_jun_in, use_jul_in, use_aug_in, use_sep_in,
#              use_oct_in2, use_nov_in2, use_dec_in2, use_jan_in2, use_feb_in2, use_mar_in2, 
#              use_apr_in2, use_may_in2, use_jun_in2, use_jul_in2, use_aug_in2, use_sep_in2]
             
# use = pd.concat(hourly_in)

In [ ]:
# del (use_oct_in, use_nov_in, use_dec_in, use_jan_in, use_feb_in, use_mar_in, 
#      use_apr_in, use_may_in, use_jun_in, use_jul_in, use_aug_in, use_sep_in,
#      use_oct_in2, use_nov_in2, use_dec_in2, use_jan_in2, use_feb_in2, use_mar_in2, 
#      use_apr_in2, use_may_in2, use_jun_in2, use_jul_in2, use_aug_in2, use_sep_in2)
# del hourly_in

In [ ]:
# # save as pickle so we don't have to do this again
# use.to_pickle(location+'fcast_use_raw.pkl.zip')
# del use

In [119]:
# load pickle
start = timer()

use = pd.read_pickle(location+'fcast_use_raw.pkl.zip')

end = timer()
print((end - start)/60) # Time in minutes (~.5 min - MUCH FASTER!!)

0.5305368478000067

In [120]:
# create ID tuple
ids = pd.Series(list(map(tuple, use[['DACCOUNTID', 'DMETERNO']].values)))
use['ID'] = ids.values

# find gas records
use = use.loc[use['UOM'] == 'CCF']
use = use.drop(columns=['UOM'])

# convert to datetime
use['Dt'] =  pd.to_datetime(use['METERREADDATE'])

In [121]:
# load customer data
customer_in = pd.read_excel(location+'PECO Zip Customer 2018.10.01 v2.xlsx', sheet_name="Account")
ids = pd.Series(list(map(tuple, customer_in[['DACCOUNTID', 'DMETERNO']].values)))
customer_in['ID'] = ids.values
customer = customer_in.drop(columns=['CITY', 'STATE', 'ZIPCODE', 'COUNTYCODE'])
del customer_in

## Data Restructuring ##

In [122]:
# functions for naming consistency
def decrement(x, startswith, split):
    """
    decrements a passed string of form "demo#" by 1
    
    Parameters
    ----------
    x : string to be decremented
    split : string to split on

    Returns
    ----------
    y : decremented string
    """
    if x.startswith(startswith):
        a,b = x.split(split)
        b = int(b)-1
        y = a + split + str(b)

        return y

    else:
        return x

    
def interval_to_hour(df):
    """
    function for fast rename/relabel during tidying process
    
    Parameters
    ----------
    df : pandas data frame

    Returns
    ----------
    df : data frame with updated column names
    """
    
    df = df.rename(columns=lambda x: decrement(x, "INTERVAL_", "_"))
    df = df.rename(columns=lambda x: x.replace("INTERVAL_", "HR"))
    return df

In [123]:
# rename for consistency
use = interval_to_hour(use)
use = use.drop(columns=['METERREADDATE','HR24'])

In [124]:
# Tidy / Stack data (transform into tall data - one row per customer per hour):
# ref: http://www.jeannicholashould.com/tidy-data-in-python.html
tidy_use = pd.melt(use, 
                   id_vars=['ID','DACCOUNTID','DMETERNO','Dt'],
                   var_name='Hour', value_name='Use')

In [125]:
# drop use from memory
del use

In [126]:
# relabel/retype
tidy_use['Hour'] = tidy_use['Hour'].str.extract('(\d+)').astype(int)
tidy_use = tidy_use.sort_values(by=["Dt"])

### Make daily data ###

In [127]:
# for daily aggregation
daily_use = (tidy_use[['ID','DACCOUNTID','DMETERNO','Use','Dt']]
             .groupby(['ID','DACCOUNTID','DMETERNO','Dt'])
             .sum()
             .reset_index())

In [131]:
# append rate code data
daily_use = daily_use.merge(customer, how='inner', on=['ID','DACCOUNTID','DMETERNO'])
#daily_use.head()

In [132]:
# Add dummy variables for day-of-week
daily_use['Weekday'] = pd.get_dummies(daily_use['Dt'].dt.weekday < 5)[True]

# Add dummy variables for holidays
from pandas.tseries.holiday import USFederalHolidayCalendar
cal = USFederalHolidayCalendar()
#dr = pd.date_range(start=min(tidy_use['Dt']), end=max(tidy_use['Dt']))
dr = pd.date_range(start="1-1-2010", end="12-31-2020")
holidays = cal.holidays(start=dr.min(), end=dr.max())

daily_use['Holiday'] = pd.get_dummies(daily_use['Dt'].isin(holidays))[True]
del (USFederalHolidayCalendar, cal, dr, holidays)

In [133]:
daily_use.head()

,ID,DACCOUNTID,DMETERNO,Dt,Use,DCUSTOMERID,TARIFF,FUELTYPE,REVENUCODE,Weekday,Holiday
0,"(156414999216, 4464803701784)",156414999216,4464803701784,2018-06-30,0.0,20325174427256,GH0,GAS,12.0,0,0
1,"(156414999216, 4464803701784)",156414999216,4464803701784,2018-07-01,0.0,20325174427256,GH0,GAS,12.0,0,0
2,"(156414999216, 4464803701784)",156414999216,4464803701784,2018-07-02,0.0,20325174427256,GH0,GAS,12.0,1,0
3,"(156414999216, 4464803701784)",156414999216,4464803701784,2018-07-03,0.0,20325174427256,GH0,GAS,12.0,1,0
4,"(156414999216, 4464803701784)",156414999216,4464803701784,2018-07-04,0.0,20325174427256,GH0,GAS,12.0,1,1

In [134]:
ids_to_plot = daily_use.groupby('ID').count()

In [135]:
# for i in range(600,700):
#    print(f"{ids_to_plot[ids_to_plot['Use'] >= i]['Use'].count()} records have >={i} dates")

5109 records have >=600 dates
5108 records have >=601 dates
5104 records have >=602 dates
5099 records have >=603 dates
5096 records have >=604 dates
5089 records have >=605 dates
5086 records have >=606 dates
5081 records have >=607 dates
5078 records have >=608 dates
5072 records have >=609 dates
5068 records have >=610 dates
5065 records have >=611 dates
5061 records have >=612 dates
5057 records have >=613 dates
5056 records have >=614 dates
5053 records have >=615 dates
5051 records have >=616 dates
5045 records have >=617 dates
5043 records have >=618 dates
5038 records have >=619 dates
5038 records have >=620 dates
5034 records have >=621 dates
5029 records have >=622 dates
5025 records have >=623 dates
5020 records have >=624 dates
5017 records have >=625 dates
5014 records have >=626 dates
5013 records have >=627 dates
5007 records have >=628 dates
5005 records have >=629 dates
5003 records have >=630 dates
4988 records have >=631 dates
4940 records have >=632 dates
4890 records have >=633 dates
4621 records have >=634 dates
3776 records have >=635 dates
102 records have >=636 dates
39 records have >=637 dates
32 records have >=638 dates
32 records have >=639 dates
32 records have >=640 dates
32 records have >=641 dates
32 records have >=642 dates
32 records have >=643 dates
32 records have >=644 dates
32 records have >=645 dates
32 records have >=646 dates
32 records have >=647 dates
32 records have >=648 dates
32 records have >=649 dates
32 records have >=650 dates
32 records have >=651 dates
32 records have >=652 dates
32 records have >=653 dates
32 records have >=654 dates
32 records have >=655 dates
32 records have >=656 dates
32 records have >=657 dates
32 records have >=658 dates
32 records have >=659 dates
32 records have >=660 dates
32 records have >=661 dates
32 records have >=662 dates
32 records have >=663 dates
32 records have >=664 dates
32 records have >=665 dates
32 records have >=666 dates
32 records have >=667 dates
32 records have >=668 dates
32 records have >=669 dates
32 records have >=670 dates
32 records have >=671 dates
32 records have >=672 dates
32 records have >=673 dates
32 records have >=674 dates
32 records have >=675 dates
32 records have >=676 dates
32 records have >=677 dates
32 records have >=678 dates
32 records have >=679 dates
32 records have >=680 dates
32 records have >=681 dates
32 records have >=682 dates
32 records have >=683 dates
32 records have >=684 dates
32 records have >=685 dates
32 records have >=686 dates
32 records have >=687 dates
32 records have >=688 dates
32 records have >=689 dates
32 records have >=690 dates
32 records have >=691 dates
32 records have >=692 dates
32 records have >=693 dates
32 records have >=694 dates
32 records have >=695 dates
32 records have >=696 dates
32 records have >=697 dates
32 records have >=698 dates
32 records have >=699 dates

In [136]:
# find IDs with at least 630 days of data
sufficient_ids = ids_to_plot[ids_to_plot['Use'] >= 630].reset_index()['ID']
print(f"{100*len(sufficient_ids)/len(daily_use['ID'].unique())} percent of IDs have at least 630 days of data")

70.49457517260815 percent of IDs have at least 630 days of data

In [146]:
print(daily_use[daily_use['ID'].isin(sufficient_ids)]['Dt'].dt.date)

['2017-02-25T00:00:00.000000000' '2017-02-26T00:00:00.000000000'
 '2017-02-27T00:00:00.000000000' '2017-02-28T00:00:00.000000000'
 '2017-03-01T00:00:00.000000000' '2017-03-02T00:00:00.000000000'
 '2017-03-03T00:00:00.000000000' '2017-03-04T00:00:00.000000000'
 '2017-03-05T00:00:00.000000000' '2017-03-06T00:00:00.000000000'
 '2017-03-07T00:00:00.000000000' '2017-03-08T00:00:00.000000000'
 '2017-03-09T00:00:00.000000000' '2017-03-10T00:00:00.000000000'
 '2017-03-11T00:00:00.000000000' '2017-03-12T00:00:00.000000000'
 '2017-03-13T00:00:00.000000000' '2017-03-14T00:00:00.000000000'
 '2017-03-15T00:00:00.000000000' '2017-03-16T00:00:00.000000000'
 '2017-03-17T00:00:00.000000000' '2017-03-18T00:00:00.000000000'
 '2017-03-19T00:00:00.000000000' '2017-03-20T00:00:00.000000000'
 '2017-03-21T00:00:00.000000000' '2017-03-22T00:00:00.000000000'
 '2017-03-23T00:00:00.000000000' '2017-03-24T00:00:00.000000000'
 '2017-03-25T00:00:00.000000000' '2017-03-26T00:00:00.000000000'
 '2017-03-27T00:00:00.000000000' '2017-03-28T00:00:00.000000000'
 '2017-03-29T00:00:00.000000000' '2017-03-30T00:00:00.000000000'
 '2017-03-31T00:00:00.000000000' '2017-04-01T00:00:00.000000000'
 '2017-04-02T00:00:00.000000000' '2017-04-03T00:00:00.000000000'
 '2017-01-01T00:00:00.000000000' '2017-01-02T00:00:00.000000000'
 '2017-01-03T00:00:00.000000000' '2017-01-04T00:00:00.000000000'
 '2017-01-05T00:00:00.000000000' '2017-01-06T00:00:00.000000000'
 '2017-01-07T00:00:00.000000000' '2017-01-08T00:00:00.000000000'
 '2017-01-09T00:00:00.000000000' '2017-01-10T00:00:00.000000000'
 '2017-01-11T00:00:00.000000000' '2017-01-12T00:00:00.000000000'
 '2017-01-13T00:00:00.000000000' '2017-01-14T00:00:00.000000000'
 '2017-01-15T00:00:00.000000000' '2017-01-16T00:00:00.000000000'
 '2017-01-17T00:00:00.000000000' '2017-01-18T00:00:00.000000000'
 '2017-01-19T00:00:00.000000000' '2017-01-20T00:00:00.000000000'
 '2017-01-21T00:00:00.000000000' '2017-01-22T00:00:00.000000000'
 '2017-01-23T00:00:00.000000000' '2017-01-24T00:00:00.000000000'
 '2017-01-25T00:00:00.000000000' '2017-01-26T00:00:00.000000000'
 '2017-01-27T00:00:00.000000000' '2017-01-28T00:00:00.000000000'
 '2017-01-29T00:00:00.000000000' '2017-01-30T00:00:00.000000000'
 '2017-01-31T00:00:00.000000000' '2017-02-01T00:00:00.000000000'
 '2017-02-02T00:00:00.000000000' '2017-02-03T00:00:00.000000000'
 '2017-02-04T00:00:00.000000000' '2017-02-05T00:00:00.000000000'
 '2017-02-06T00:00:00.000000000' '2017-02-07T00:00:00.000000000'
 '2017-02-08T00:00:00.000000000' '2017-02-09T00:00:00.000000000'
 '2017-02-10T00:00:00.000000000' '2017-02-11T00:00:00.000000000'
 '2017-02-12T00:00:00.000000000' '2017-02-13T00:00:00.000000000'
 '2017-02-14T00:00:00.000000000' '2017-02-15T00:00:00.000000000'
 '2017-02-16T00:00:00.000000000' '2017-02-17T00:00:00.000000000'
 '2017-02-18T00:00:00.000000000' '2017-02-19T00:00:00.000000000'
 '2017-02-20T00:00:00.000000000' '2017-02-21T00:00:00.000000000'
 '2017-02-22T00:00:00.000000000' '2017-02-23T00:00:00.000000000'
 '2017-02-24T00:00:00.000000000' '2016-10-01T00:00:00.000000000'
 '2016-10-02T00:00:00.000000000' '2016-10-03T00:00:00.000000000'
 '2016-10-04T00:00:00.000000000' '2016-10-05T00:00:00.000000000'
 '2016-10-06T00:00:00.000000000' '2016-10-07T00:00:00.000000000'
 '2016-10-08T00:00:00.000000000' '2016-10-09T00:00:00.000000000'
 '2016-10-10T00:00:00.000000000' '2016-10-11T00:00:00.000000000'
 '2016-10-12T00:00:00.000000000' '2016-10-13T00:00:00.000000000'
 '2016-10-14T00:00:00.000000000' '2016-10-15T00:00:00.000000000'
 '2016-10-16T00:00:00.000000000' '2016-10-17T00:00:00.000000000'
 '2016-10-18T00:00:00.000000000' '2016-10-19T00:00:00.000000000'
 '2016-10-20T00:00:00.000000000' '2016-10-21T00:00:00.000000000'
 '2016-10-22T00:00:00.000000000' '2016-10-23T00:00:00.000000000'
 '2016-10-24T00:00:00.000000000' '2016-10-25T00:00:00.000000000'
 '2016-10-26T00:00:00.000000000' '2016-10-27T00:00:00.000000000'
 '2016-10-28T00:00:00.000000000' '2016-10-29T00:00:00.000000000'
 '2016-10-30T00:00:00.000000000' '2016-10-31T00:00:00.000000000'
 '2016-11-01T00:00:00.000000000' '2016-11-02T00:00:00.000000000'
 '2016-11-03T00:00:00.000000000' '2016-11-04T00:00:00.000000000'
 '2016-11-05T00:00:00.000000000' '2016-11-06T00:00:00.000000000'
 '2016-11-07T00:00:00.000000000' '2016-11-08T00:00:00.000000000'
 '2016-11-09T00:00:00.000000000' '2016-11-10T00:00:00.000000000'
 '2016-11-11T00:00:00.000000000' '2016-11-12T00:00:00.000000000'
 '2016-11-13T00:00:00.000000000' '2016-11-14T00:00:00.000000000'
 '2016-11-15T00:00:00.000000000' '2016-11-16T00:00:00.000000000'
 '2016-11-17T00:00:00.000000000' '2016-11-18T00:00:00.000000000'
 '2016-11-19T00:00:00.000000000' '2016-11-20T00:00:00.000000000'
 '2016-11-21T00:00:00.000000000' '2016-11-22T00:00:00.000000000'
 '2016-11-23T00:00:00.000000000' '2016-11-24T00:00:00.000000000'
 '2016-11-25T00:00:00.000000000' '2016-11-26T00:00:00.000000000'
 '2016-11-27T00:00:00.000000000' '2016-11-28T00:00:00.000000000'
 '2016-11-29T00:00:00.000000000' '2016-11-30T00:00:00.000000000'
 '2016-12-01T00:00:00.000000000' '2016-12-02T00:00:00.000000000'
 '2016-12-03T00:00:00.000000000' '2016-12-04T00:00:00.000000000'
 '2016-12-05T00:00:00.000000000' '2016-12-06T00:00:00.000000000'
 '2016-12-07T00:00:00.000000000' '2016-12-08T00:00:00.000000000'
 '2016-12-09T00:00:00.000000000' '2016-12-10T00:00:00.000000000'
 '2016-12-11T00:00:00.000000000' '2016-12-12T00:00:00.000000000'
 '2016-12-13T00:00:00.000000000' '2016-12-14T00:00:00.000000000'
 '2016-12-15T00:00:00.000000000' '2016-12-16T00:00:00.000000000'
 '2016-12-17T00:00:00.000000000' '2016-12-18T00:00:00.000000000'
 '2016-12-19T00:00:00.000000000' '2016-12-20T00:00:00.000000000'
 '2016-12-21T00:00:00.000000000' '2016-12-22T00:00:00.000000000'
 '2016-12-23T00:00:00.000000000' '2016-12-24T00:00:00.000000000'
 '2016-12-25T00:00:00.000000000' '2016-12-26T00:00:00.000000000'
 '2016-12-27T00:00:00.000000000' '2016-12-28T00:00:00.000000000'
 '2016-12-29T00:00:00.000000000' '2016-12-30T00:00:00.000000000'
 '2016-12-31T00:00:00.000000000']

In [137]:
# find the dates for which sufficient_ids all have data
pivoted = (daily_use[daily_use['ID'].isin(sufficient_ids)]
           .pivot_table(index='Dt', columns=['ID'], values='Use', fill_value=None))
sufficient_dates = pivoted.dropna().reset_index()['Dt']
del pivoted
print(f"The IDs with sufficient data overlap on {len(sufficient_dates)} days of the data")

The IDs with sufficient data overlap on 309 days of the most recent year of data

In [138]:
print(sufficient_dates.dt.date)

0      2017-10-12
1      2017-10-13
2      2017-10-14
3      2017-10-16
4      2017-10-17
5      2017-10-18
6      2017-10-19
7      2017-10-21
8      2017-10-22
9      2017-10-23
10     2017-10-24
11     2017-10-25
12     2017-10-31
13     2017-11-01
14     2017-11-02
15     2017-11-03
16     2017-11-04
17     2017-11-05
18     2017-11-06
19     2017-11-07
20     2017-11-08
21     2017-11-09
22     2017-11-12
23     2017-11-13
24     2017-11-14
25     2017-11-15
26     2017-11-16
27     2017-11-17
28     2017-11-18
29     2017-11-19
          ...
279    2018-08-17
280    2018-08-22
281    2018-08-23
282    2018-08-24
283    2018-08-25
284    2018-08-26
285    2018-08-27
286    2018-08-29
287    2018-08-30
288    2018-08-31
289    2018-09-01
290    2018-09-07
291    2018-09-08
292    2018-09-09
293    2018-09-10
294    2018-09-13
295    2018-09-14
296    2018-09-15
297    2018-09-16
298    2018-09-17
299    2018-09-18
300    2018-09-19
301    2018-09-20
302    2018-09-21
303    2018-09-22
304    2018-09-23
305    2018-09-24
306    2018-09-25
307    2018-09-26
308    2018-09-27
Name: Dt, Length: 309, dtype: object

In [ ]:
# filter total use dataset to contain only IDs who have sufficient data and only dates where sufficient_ids have data
sufficient_use = daily_use[(daily_use['ID'].isin(sufficient_ids)) & (daily_use['Dt'].isin(sufficient_dates))]

In [ ]:
# save file(s) as pickles
# using save location to save with other data files outside of git repo
# data.to_csv(location+'peco.csv', sep='\t')
daily_use.to_pickle(location+'fcast_daily.pkl.zip')
sufficient_use.to_pickle(location+'fcast_sufficient_daily.pkl.zip')
ids.to_pickle(location+'fcast_daily_ids.pkl.zip')
sufficient_ids.to_pickle(location+'fcast_sufficient_daily_ids.pkl.zip')
del (daily_use,sufficient_use,ids,sufficient_ids)

### Make hourly data###

In [74]:
# append rate code data
tidy_use = tidy_use.merge(customer, how='inner', on=['ID','DACCOUNTID','DMETERNO'])
#tidy_use.head()

In [75]:
# create single column for date and time
tidy_use['year'] = pd.to_datetime(tidy_use['Dt'].values).year
tidy_use['month'] = pd.to_datetime(tidy_use['Dt'].values).month
tidy_use['day'] = pd.to_datetime(tidy_use['Dt'].values).day
tidy_use['datetime'] = pd.to_datetime(tidy_use[['year','month','day','Hour']])

In [76]:
# Add dummy variables for day-of-week
#use = use.join(pd.get_dummies(use['Dt'].dt.weekday_name))
tidy_use['Weekday'] = pd.get_dummies(tidy_use['Dt'].dt.weekday < 5)[True]

In [77]:
# Add dummy variables for hour-of-day
tidy_use = tidy_use.join(pd.get_dummies(tidy_use['Hour'],prefix='HR'))

# Add dummy variables for part-of-day
tidy_use['MORN'] = pd.get_dummies((tidy_use['Hour'] >= 5) & (tidy_use['Hour'] < 9))[True] # 5-9 am
tidy_use['DAY'] = pd.get_dummies((tidy_use['Hour'] >= 9) & (tidy_use['Hour'] < 17))[True] # 9 am-5 pm
tidy_use['EVE'] = pd.get_dummies((tidy_use['Hour'] >= 17) & (tidy_use['Hour'] < 21))[True] # 5-10 pm
tidy_use['NIGHT'] = pd.get_dummies((tidy_use['Hour'] < 5) | (tidy_use['Hour'] >= 21) )[True] # 10 pm-6 am
# tidy_use.head()

In [78]:
# Add dummy variables for holidays
from pandas.tseries.holiday import USFederalHolidayCalendar
cal = USFederalHolidayCalendar()
#dr = pd.date_range(start=min(tidy_use['Dt']), end=max(tidy_use['Dt']))
dr = pd.date_range(start="1-1-2010", end="12-31-2020")
holidays = cal.holidays(start=dr.min(), end=dr.max())

tidy_use['Holiday'] = pd.get_dummies(tidy_use['Dt'].isin(holidays))[True]
del (USFederalHolidayCalendar, cal, dr, holidays)
#tidy_use.head()

In [79]:
# sort by date & time
tidy_use = tidy_use.drop(columns=['Dt','year','month','day','Hour'])
tidy_use = tidy_use.sort_values(by=['datetime'])
tidy_use = tidy_use.rename(columns={'datetime':'Dt'}) # for consistency
# tidy_use.head()

In [81]:
ids_to_plot = tidy_use.groupby('ID').count()

In [82]:
# for i in range(600,700):
#    print(f"{ids_to_plot[ids_to_plot['Use'] >= i*24]['Use'].count()} records have >={i} dates")

5109 records have >=600 dates
5108 records have >=601 dates
5104 records have >=602 dates
5099 records have >=603 dates
5096 records have >=604 dates
5089 records have >=605 dates
5086 records have >=606 dates
5081 records have >=607 dates
5078 records have >=608 dates
5072 records have >=609 dates
5068 records have >=610 dates
5065 records have >=611 dates
5061 records have >=612 dates
5057 records have >=613 dates
5056 records have >=614 dates
5053 records have >=615 dates
5051 records have >=616 dates
5045 records have >=617 dates
5043 records have >=618 dates
5038 records have >=619 dates
5038 records have >=620 dates
5034 records have >=621 dates
5029 records have >=622 dates
5025 records have >=623 dates
5020 records have >=624 dates
5017 records have >=625 dates
5014 records have >=626 dates
5013 records have >=627 dates
5007 records have >=628 dates
5005 records have >=629 dates
5003 records have >=630 dates
4988 records have >=631 dates
4940 records have >=632 dates
4890 records have >=633 dates
4621 records have >=634 dates
3776 records have >=635 dates
102 records have >=636 dates
39 records have >=637 dates
32 records have >=638 dates
32 records have >=639 dates
32 records have >=640 dates
32 records have >=641 dates
32 records have >=642 dates
32 records have >=643 dates
32 records have >=644 dates
32 records have >=645 dates
32 records have >=646 dates
32 records have >=647 dates
32 records have >=648 dates
32 records have >=649 dates
32 records have >=650 dates
32 records have >=651 dates
32 records have >=652 dates
32 records have >=653 dates
32 records have >=654 dates
32 records have >=655 dates
32 records have >=656 dates
32 records have >=657 dates
32 records have >=658 dates
32 records have >=659 dates
32 records have >=660 dates
32 records have >=661 dates
32 records have >=662 dates
32 records have >=663 dates
32 records have >=664 dates
32 records have >=665 dates
32 records have >=666 dates
32 records have >=667 dates
32 records have >=668 dates
32 records have >=669 dates
32 records have >=670 dates
32 records have >=671 dates
32 records have >=672 dates
32 records have >=673 dates
32 records have >=674 dates
32 records have >=675 dates
32 records have >=676 dates
32 records have >=677 dates
32 records have >=678 dates
32 records have >=679 dates
32 records have >=680 dates
32 records have >=681 dates
32 records have >=682 dates
32 records have >=683 dates
32 records have >=684 dates
32 records have >=685 dates
32 records have >=686 dates
32 records have >=687 dates
32 records have >=688 dates
32 records have >=689 dates
32 records have >=690 dates
32 records have >=691 dates
32 records have >=692 dates
32 records have >=693 dates
32 records have >=694 dates
32 records have >=695 dates
32 records have >=696 dates
32 records have >=697 dates
32 records have >=698 dates
32 records have >=699 dates

In [84]:
# find IDs with at least 630 days of data
sufficient_ids = ids_to_plot[ids_to_plot['Use'] >= 630*24].reset_index()['ID']
print(f"{100*len(sufficient_ids)/len(tidy_use['ID'].unique())} percent of IDs have at least 630 days of data")

65.11201916302663 percent of IDs have at least 634 days of data

In [89]:
# find the dates for which sufficient_ids all have data
pivoted = (tidy_use[tidy_use['ID'].isin(sufficient_ids)]
           .pivot_table(index='Dt', columns=['ID'], values='Use', fill_value=None))
sufficient_dates = pivoted.dropna().reset_index()['Dt']
del pivoted
print(f"The IDs with sufficient data overlap on {len(sufficient_dates)/24} days of the most recent year of data")

The IDs with sufficient data overlap on 332.0 days of the most recent year of data

In [93]:
# filter total use dataset to contain only IDs who have sufficient data and only dates where sufficient_ids have data
sufficient_use = tidy_use[(tidy_use['ID'].isin(sufficient_ids)) & (tidy_use['Dt'].isin(sufficient_dates))]

In [102]:
min(tidy_use['Dt'])

Timestamp('2016-10-01 00:00:00')

In [ ]:
# save file(s) as pickles
# using save location to save with other data files outside of git repo
# data.to_csv(location+'peco.csv', sep='\t')
tidy_use.to_pickle(location+'fcast_hourly.pkl.zip')
sufficient_use.to_pickle(location+'fcast_sufficient_hourly.pkl.zip')
ids.to_pickle(location+'fcast_daily_ids.pkl.zip')
sufficient_ids.to_pickle(location+'fcast_sufficient_hourly_ids.pkl.zip')
del (tidy_use,sufficient_use,ids,sufficient_ids)

 ### Merge use & weather? ###

In [ ]:
# load data
hourly = pd.read_pickle(location+'peco_hourly.pkl.zip')
sufficient_hourly = pd.read_pickle(location+'peco_sufficient_hourly.pkl.zip')
weather = pd.read_pickle(location+'hourly_weather.pkl.zip')

In [ ]:
# merge
hourly = pd.merge(hourly, weather, how='inner', on=['Dt'])
sufficient_hourly = pd.merge(sufficient_hourly, weather, how='inner', on=['Dt'])
# CustIDs || Date | Consumption |||| Weather_variables